[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "importlib_metadata;python_version<'3.8'",
    "codestare-msg-compiler[protoplus] >= 0.0.7.dev0",
    "setuptools_scm>=6.2",
]

build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
local_scheme = "no-local-version"
